# Dependencies
node_modules
pnpm-lock.yaml

# Build output
dist
build
.next
out

# Cache
.cache
.turbo

# Environment
.env
.env.local
.env*.local

# IDE
.idea
.vscode

# OS
.DS_Store

# Other
coverage
*.log
